*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-img{
    /* justify-content:   */
    height: 40px;       
    width: 50px;
    /* height: auto; */
}

header > h1{
    margin: 0;
    padding: 15px;
    margin-left: 100px;
}

#nav-bar > ul{
    display: flex;
    width: 35vw;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: #000;
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
    font-size: 17px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#int-email{
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    font-weight:550;
}

#email{
    margin: auto;
    display: block;
    height: 25px;
    width: 219px;
    margin-bottom: 15px;
}

#features{
    padding-top: 7.5%;
}

#features .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 350px;
    height: 125px;
    width: 80vw;
}

#howitworks{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.btn{
    display: block;
    margin: auto;
    padding: 3px;
    background-color: yellow;
    font-size: large;
    font-weight: 600;
    border: none;
    width: 150px;
}

.btn:hover{
    background-color: orange;
    transition: 2s;
    cursor: pointer;
}

.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > p{
    margin: 15px 0;
}
.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

footer{
    background-color: rgb(229, 225, 225);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    display: block;
    margin-top: 2.5%;
}

footer > p{
    display: inline;
    padding: 5px;
}

footer > span{
    margin-top: 5px;
    display: flex;
}

img{
    display: none;
}

@media only screen and (max-width: 600px) {
    .body{
        background-color: #f1c40f;
    }
}