*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-img{
    /* justify-content:   */
    height: 40px;       
    width: 50px;
    /* height: auto; */
}

header > h1{
    margin: 0;
    padding: 15px;
    margin-left: 100px;
}

body{
    font-size: 17px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#email{
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    font-weight:550;
}

#email-add{
    margin: auto;
    display: block;
    height: 25px;
    width: 219px;
    margin-bottom: 15px;
}

#submit{
    display: block;
    margin: auto;
    padding: 3px;
    background-color: yellow;
    font-size: large;
    font-weight: 600;
    border: none;
    width: 150px;
}

#submit:hover{
    background-color: orange;
    transition: 2s;
    cursor: pointer;
}